.contucts{
    display: flex;
    justify-content: center;
    background: red;
    margin:0;
    padding: 0;
}
.contucts__txt{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-family: 32px;
    padding: 20px 0;
}