:root{
    --padding:10px 20px 10px 20px;
    --fontColorDefault:rgb(99, 99, 99);
    --fontColorFocus:rgb(35, 35, 35);
}
.navBar{
    margin-top: 10px;
    // width:100vw;   gives horizontal scrollbar ,, Why!!!????
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: var(--padding);
    justify-content: space-between;
    
}
.navBar__logo{
    width:45px;
    margin-left: 10px;
    &:hover{
        cursor: pointer;
    }
}
.navBar__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    
}
.navBar__menu__txt{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 28px;
    color:rgb(101, 101, 101);
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    &:hover , &:focus{
        cursor: pointer;
        color:var(--fontColorFocus);
    }
    
}

@media screen and (max-width:700px){
    .navBar__logo{
        width:40px;
    }
    .navBar__menu__txt{
        font-size: 24px;
    }
}