:root{
    --borderColor:rgb(67, 67, 67);
    --fontColorDefault:rgba(35, 35, 35, 0.818);
    --fontColorFocus:rgb(35, 35, 35);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  div{
    margin:0;
    padding: 0; 
  }
.categories{
    width:calc(100% - 23px);//was giving horizontal scroll bar
    margin:0 10px 10px 10px;
    padding:10px;
    display: grid;
    gap:15px;
    grid-template-columns:repeat(6 , 1fr) ;
}
._1 , ._2 , ._3 {
    grid-column:  span 2;
}
._4 , ._5 {
    grid-column:  span 3;
}
.category{
    height:300px;
    
    border: 1px solid var(--borderColor);
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}

.category__img{
    width: 100%;
    height: 100%;
    background-position: center ;
    background-size: cover;
    position: absolute;
}

.category__innerText{
    border: 1px solid var(--borderColor);
    background: rgba(255, 255, 255, 0.368);
    width:40%;
    max-width: 200px;
    height:40%;
    font-family: 'Open Sans';
    color:var(--fontColorDefault);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s ease-in-out;
    z-index: 2;

}
.category__name{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}
.category__shop{
    font-size: 26px;
    font-weight: 300;
    margin-top: 10px;
}
.category:hover , .category__img:focus{
    cursor: pointer;

    .category__img{
        transform: scale(1.1);
        transition: all 6s ease-in;
    }

    .category__innerText{
        background: rgba(255, 255, 255, 0.675);
        color:var(--fontColorFocus);
    }
}

@media screen and (max-width:1300px){
    .category__name{
       font-size: 26px;
    }
    .category__shop{
        font-size: 22px;
    }
}
@media screen and (max-width:1100px){
    .category__innerText{
        width:50%;
    }
}
@media screen and (max-width:900px){
    ._3{
        grid-column:  span 6;
    }
    ._1 , ._2  {
        grid-column:  span 3;
    }
    ._4 , ._5 {
        grid-column:  span 3;
    }
}
@media screen and (max-width:600px){
    .category__name{
        font-size: 24px;
    }
    .category__shop{
        font-size: 20px;
    }
}
@media screen and (max-width:550px){
    ._1 , ._2 ,._3 , ._4 , ._5  {
        grid-column:  span 6;
    }
}